*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    background-color: red;
}
#hero{
height: 40vh;
background-image: url(../assets/header.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

