*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    background-color: red;
}
img:hover{
    transform: scale(1.08);
    /* transform: rotate(360deg); */
    transition: all 2s;
}
/* 
@media (max-width:770px) {
    .price{
        margin-top: ;
        background-color: red;
    }
}  */