*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  background-image: linear-gradient(to right, #00b99a 0%, #006f85 100%);
}
.form-signup {
  max-width: 50rem;
  padding: 1rem;
  margin: auto;
  padding: 2rem;
}
