.footer-top{
  padding-top: 30px;
  text-align: left;
  background: #F9F1E7;
}
.footer-contact p { 
  word-wrap: break-word;
}
.footer-contact i { 
  padding-right: 10px;
  font-size: 18px; 
  color: #B88E2F;
}
.footer-contact a { 
  border-bottom: 1px dashed #ccc; 
  text-decoration: none;
  color: #B88E2F; 
  margin-left: 0;

}
.footer-contact p a:hover, .footer-contact p a:focus { 
  border-bottom: 1px dashed #B88E2F; 
}
.footer-links a { 
  color: #888; 
  text-decoration: none;
  margin-left: 0;
}
.footer-links a:hover{ 
  color: #555; 
  margin-left: 3px; 
}
.footer-social a { 
  margin: 0 10px; 
  color: #bbb; 
  margin:  20px; 
}
.footer-social a:hover{ 
  color: #B88E2F;
}
.footer-social i { 
  font-size: 24px; 
  vertical-align: middle; 
}
.footer-bottom { 
  text-align: center; 
  padding: 0 0 60px 0; 
  height:10px;
}
#customerSupport{
  width: 3.2rem;
  height: 3.2rem;
  color: white; 
  background-color: #B88E2F;
  border: none;
  border-radius: 100%;
  position: fixed ;
  right: 7%;
  top: 90%;
  z-index: 1022;
 }
